.contacts {
  margin: 2.2rem auto;
  text-align: center;
  font-size: 1.2rem;

  .contact {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    background: var(--color-contact-bg);
    border-radius: 100%;
    color: var(--color-contact-fg);
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .contact:hover {
    background: var(--color-accent);
    color: #fff;
    box-shadow: 0 0 1px 7px var(--color-accent-shadow);
    position: relative;
  }
}
