.contacts {
  margin: 2.2rem auto;
  text-align: center;
  font-size: 1.2rem;

  .contact {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    background: $color-light-grey;
    border-radius: 100%;
    color: $color-neutral-grey;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .contact:hover {
    background: $color-accent;
    color: $color-white;
    box-shadow: 0 0 1px 7px fade-out($color-accent, 0.85);
  }
}
