.footer {
  color: #4f515d;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0;
  border-top: 1px solid #eee;

  p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  a:hover {
    color: #4f515d;
  }
}
