{{ with .Site.Params.contacts -}}
{{- $services := dict
  "bitbucket" (dict "url" "https://bitbucket.org/%s" "icon" "fab fa-bitbucket")
  "credly" (dict "url" "https://www.credly.com/users/%s" "icon" "fas fa-award")
  "devto" (dict "url" "https://dev.to/%s" "icon" "fab fa-dev")
  "email" (dict "url" "mailto:%s" "icon" "fas fa-envelope")
  "facebook" (dict "url" "https://facebook.com/%s" "icon" "fab fa-facebook")
  "github" (dict "url" "https://github.com/%s" "icon" "fab fa-github")
  "gitlab" (dict "url" "https://gitlab.com/%s" "icon" "fab fa-gitlab")
  "hackerrank" (dict "url" "https://hackerrank.com/%s" "icon" "fab fa-hackerrank")
  "instagram" (dict "url" "https://instagram.com/%s" "icon" "fab fa-instagram")
  "keybase" (dict "url" "https://keybase.io/%s" "icon" "fab fa-keybase")
  "linkedin" (dict "url" "https://linkedin.com/in/%s" "icon" "fab fa-linkedin")
  "medium" (dict "url" "https://medium.com/%s" "icon" "fab fa-medium")
  "stackoverflow" (dict "url" "https://stackoverflow.com/users/%s" "icon" "fab fa-stack-overflow")
  "twitter" (dict "url" "https://twitter.com/%s" "icon" "fab fa-twitter")
  "xing" (dict "url" "https://xing.com/profile/%s" "icon" "fab fa-xing")
-}}
<section class="contacts">
  {{- range $service, $id := . -}}
    {{- with index $services $service }}
  <a class="contact" href="{{ printf .url $id }}" target="_blank" rel="noopener">
    <i class="{{ .icon }}" aria-hidden="true"></i>
  </a>
    {{- end -}}
  {{- end }}
</section>
{{- end }}
